/* Reset some default browser styles */
body, h1, nav, div, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif; /* Set a default font */
    background-color: #f2f2f2; /* Set a background color */
    color: #333; /* Set text color */
    line-height: 1.6; /* Set line height for better readability */
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #009688; /* Set a background color for the header */
    color: #fff; /* Set text color for the header */
}

.link-container {
    width: 100%;
    max-width: 300px; /* Adjust the max-width based on your design preferences */
    margin: 10px auto;
    padding: 15px;
    background-color: #fff; /* Light gray background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle elevation effect */
}

.link-container a {
    text-decoration: none;
    color: #009688; /* Set link color */
    font-weight: bold;
    display: block;
    text-align: center; /* Center the text horizontally */
    line-height: 20px; /* Adjust line height for better spacing */
}

.link-container a:hover {
    color: #00695c; /* Set link color on hover */
}

/* Responsive design - adjust as needed */
@media (max-width: 600px) {
    .link-container {
        max-width: 100%;
    }
}
